[Unit]
Description=Domoserv_pi
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/home/pi/domoserv_pi/build/domoserv_pi
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
